<h2>
  <a class="back-link" href="/employee"
    ><mat-icon
      aria-hidden="false"
      aria-label="back to employees"
      fontIcon="arrow_back"
    ></mat-icon
  ></a>
  Employee Profile
</h2>

<div *ngIf="employee">
  <table>
    <tr>
      <td class="row-heading">ID:</td>
      <td class="value">{{ employee.employeeNumber }}</td>
      <a
        matTooltip="Edit and update employee profile"
        matTooltipPosition="right"
        href=""
      >
        <mat-icon
          aria-hidden="false"
          aria-label="edit profile"
          fontIcon="edit"
        ></mat-icon
      ></a>
    </tr>
    <tr>
      <td class="row-heading">First Name:</td>
      <td class="value">{{ employee.firstName }}</td>
    </tr>
    <tr>
      <td class="row-heading">Last Name:</td>
      <td class="value">{{ employee.lastName }}</td>
    </tr>
    <tr>
      <td class="row-heading">DOB:</td>
      <td class="value">{{ employee.dateOfBirth | date : "dd/MM/yyyy" }}</td>
    </tr>
    <td class="row-heading">Age:</td>
    <td class="value">{{ employee.age }}</td>
    <tr>
      <td class="row-heading">Gender:</td>
      <td class="value">{{ employee.gender }}</td>
    </tr>
    <tr *ngIf="employee.residentialAddress.city || employee.postalAddress.city">
      <td class="row-heading space-above-16">Address</td>
    </tr>
    <tr *ngIf="employee.residentialAddress.city">
      <td class="row-heading">Residential:</td>
      <td class="value" *ngIf="employee.residentialAddress.city">
        {{ employee.residentialAddress.line1 }}
        {{ employee.residentialAddress.line2 }},<br />{{
          employee.residentialAddress.city
        }}
        {{ employee.residentialAddress.state }}
        {{ employee.residentialAddress.postcode }}
      </td>
    </tr>
    <tr *ngIf="employee.residentialAddress.city">
      <td class="row-heading" *ngIf="employee.postalAddress.city">Postal:</td>
      <td class="value" *ngIf="employee.postalAddress.city">
        {{ employee.postalAddress }}
        {{ employee.postalAddress.line2 }},<br />
        {{ employee.postalAddress.city }} {{ employee.postalAddress.state }}
        {{ employee.postalAddress.postcode }}
      </td>
    </tr>
  </table>
  <table class="space-above-16" *ngIf="employee.skills.length >= 1">
    <tr>
      <td class="row-heading">Skills:</td>
      <td class="value space-above-16">
        <div *ngFor="let skill of employee.skills">{{ skill }}</div>
      </td>
    </tr>
  </table>
</div>
